/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */

/* @group Videos */

.emvideo-thumbnail-replace-full .emvideo-thumbnail-replacement span
{
	display: none;
}
.view-videos .views-row
{
    border-bottom: 1px dotted #333333;
    margin-bottom: 20px;
}
.view-videos .views-field-title
{
    font-weight:bold;
    font-size:23px;
    line-height:24px;
}

/* @end */

/* @group Tour */

.view-tour-dates table
{
	margin: 0;
}
.view-tour-dates td
{
	padding: 10px 0;
}
.view-tour-dates tr
{
	background-color: transparent;
	border: none;
	border-bottom: 1px dotted #333333;
	padding: 0;
}
.view-tour-dates .views-field-field-date-value
{
    width:100px;
}
.view-tour-dates th
{
    color:#333;
    font-weight:normal;
    text-transform:uppercase;
    font-size:11px;
    padding-bottom:10px;
}

/* @end */


