/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */

/* @group Downloads */

.view-downloads .views-row
{
	float: left;
}
.view-downloads .views-row-odd
{
	margin-right: 32px;
}
.view-downloads img
{
	display: block;
}
.view-downloads .views-field-title
{
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}

/* @end */

/* @group Photos */

#block-views-content_block-block_1 img,
.view-photos img
{
	display: block;
}
#block-views-content_block-block_1,
#block-views-content_block-block_2
{
	margin: 0;
}
#block-views-content_block-block_2 *
{
	display: block;
}
.view-photos .views-row
{
	float: left;
}
.view-photos img
{
	opacity: 0.3;
}
.view-photos img:hover
{
	opacity: 1.0;
}

/* @end */

/* @group Videos */

.emvideo-thumbnail-replace-full .emvideo-thumbnail-replacement span
{
	display: none;
}
.view-videos .views-row
{
    margin-bottom: 20px;
    clear: both;
}
.view-videos .views-field-title
{
    font-weight:bold;
    font-size:18px;
    line-height:20px;
}
.view-videos .views-field-teaser
{
    font-size: 12px;
}
.view-videos img
{
	display: block;
	border: 1px solid #333333;
}
.view-videos .views-field-field-video-embed
{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.view-videos .views-row-last .views-field-field-video-embed
{
	margin-bottom: 0;
}

/* @end */

/* @group Tour */

.view-tour-dates table
{
	margin: 0;
}
.view-tour-dates td
{
	padding: 10px 0;
}
.view-tour-dates tr
{
	background-color: transparent;
	border: none;
	border-bottom: 1px dotted #333333;
	padding: 0;
}
.view-tour-dates .views-field-field-date-value
{
    width:100px;
}
.view-tour-dates th
{
    color:#333;
    font-weight:normal;
    text-transform:uppercase;
    font-size:11px;
    padding-bottom:10px;
}

/* @end */


